/* Copyright (C) 2020 Stephan Kreutzer
 *
 * This file is part of Time Tracker.
 *
 * Time Tracker is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3 or any later version,
 * as published by the Free Software Foundation.
 *
 * Time Tracker is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with Time Tracker. If not, see <http://www.gnu.org/licenses/>.
 */

body
{
    font-family: sans-serif;
    color: #FFFF00;
    background-color: #C0C0C0;
    margin: 0px;
    padding: 0px;
}

.table
{
    display: table;
}

.tr
{
    display: table-row;
}

.thead
{
    display: table-header-group;
}

.tbody
{
     display: table-row-group;
}

.tfoot
{
    display: table-footer-group;
}

.th
{
    display: table-cell;
    font-weight: bold;
    padding: 5px;
}

.td
{
    display: table-cell;
    padding: 5px;
}

.td-right
{
    display: table-cell;
    padding: 5px;
    text-align: right;
}
